.catalog-item {
  position: relative;
  display: inline-block;
  width: 316px;
  height: 455px;
  margin-right: 0px;
  margin-bottom: 3px;
  background: url(../img/bg-item.png) no-repeat 50% #ffffff;
  
  & a {
    text-decoration: none;
  }
  
  &:hover {
    background: url(../img/bg-item-hover.png) no-repeat 50% #ffffff;
  }
}

.catalog__item-img {
  position: relative;
  height: 240px;
  text-align: center;
  
  &--new::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    background: url(../img/icon-new.png) no-repeat;
  }
    
  &--minfree::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 90px;
    width: 80px;
    height: 80px;
    background: url(../img/icon-minfree.png) no-repeat;
  }
}

.catalog__item-img img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.catalog__item-title {
  height: 55px;
  margin: 20px 0;
  margin-bottom: 0;
  margin-left: 30px;
  padding: 0;
  font-size: 22px;
  color: #070767;
  text-transform: uppercase;
}

.catalog__item-info {
  height: 70px;
  margin-bottom: 0px;
  margin-left: 30px;
  padding-right: 15px;
  font-size: 20px;
  line-height: 18px;
  color: #474747;
}

.catalog__item-footer {
  margin-left: 30px;
}

.catalog__item-price {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  font-weight: bold;
  color: #e86d41;
}

.catalog__item-cart {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}